RewriteEngine On
RewriteBase /ristorante-tradizione/public/

RewriteCond %{REQUEST_URI} ^/ristorante-tradizione/public/controllers/ [NC]
RewriteRule .* - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]